.background {
    background-color: rgb(2, 2, 59);
  }

  .plain-text {
    font-family: 'Darker Grotesque', sans-serif;
  }

  .name-font {
    font-family: 'Satisfy', cursive;
    margin-bottom: 0;
    font-size: x-large;
  }

  .btn {
    color: white;
    width: 4rem;
    padding: 0;
    margin: 0;
  }

  .bg-img {
    background-image: URL("./background.jpg");
    height: 98vh;
    background-size: cover;

  }

  .headshot {
    height: 25rem;
    width: 25rem;
    margin-top: 4rem;
  }

  .icon {
    font-size: 5rem;
    color: rgb(64, 216, 196);
    padding-left: 1rem;
  }

  .iconImg {
    height: 5rem;
    padding-left: 1rem;
  }

  HTML CSSResult
EDIT ON
body {
 padding-top: 25px;  
}



.scrollingIcons {
 overflow: hidden;
 position: relative;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: scrollingIcons 10s linear infinite;
 -webkit-animation: scrollingIcons 10s linear infinite;
 animation: scrollingIcons 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scrollingIcons {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scrollingIcons {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scrollingIcons {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}